body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: #201F1D;
}

a {
  text-decoration: none;
  color: #DCDCDC;
  transition: color .5s ease;
}

a:hover {
  color: rgb(165, 165, 165);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #86868515;
  min-height: 400px;
  min-width: 800px;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#logo {
  width: 200px;
  height: 200px;
  color: #DCDCDC;
}

#x {
  position: absolute;
  width: 30px;
  animation-name: x;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  bottom: 51vh;
}

@keyframes x {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
